.navbar {
  color: var(--body-color);
  background-color: rgba(245, 245, 220, 0.212);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-right: 0.5rem;
  transition: background-color 0.5s;
}

.navlogo {
  padding: calc(8px + 1.5625vw);
  max-width: 180px;
}
.scrolled {
  background-color: var(--main-color);
}

.navbar__container {
  height: 50px;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__container--navbox,
.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.menu-button {
  padding: 1px 6px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 20;
  width: 3rem;
  height: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  gap: 0.65rem;
}

.menu-button span {
  display: block;
  width: 100%;
  height: 2.3px;
  background-color: white;
  border-radius: 5px;
  transition: transform 0.5s, opacity 0.5s,
    background-color 0.5s;
  transform-origin: left;
}

.menu-button.open span {
  background-color: var(--focus-color);
}
.menu-button.open span:first-child {
  transform: rotate(45deg);
}

.menu-button.open span:nth-child(2) {
  opacity: 0;
}

.menu-button.open span:last-child {
  transform: rotate(-45deg);
}

.nav-links li {
  cursor: pointer;
}

.nav-links li a {
  letter-spacing: 1px;
  font-size: 1rem;
}

@media (max-width: 800px) {
  .menu-button {
    display: flex;
  }

  .nav-links {
    background-color: rgba(0, 0, 0, 0.397);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
    clip-path: circle(0% at top right);
    transition: clip-path 0.4s;
    z-index: 20;
  }

  body.light .nav-links {
    background: var(--main-color);
    box-shadow: 0 4px 30px var(--main-color);
  }

  .nav-links.open {
    clip-path: circle(150% at top right);
  }
  .nav-links li a {
    font-size: 2rem;
  }
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--focus-color);
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

.scale-in-ver-top {
  -webkit-animation: scale-in-ver-top 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s both;
  animation: scale-in-ver-top 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s both;
}

@keyframes scale-in-ver-top {
  0% {
    transform: translateY(-105%);
  }
  100% {
    transform: translateY(0%);
  }
}
