.MainScreen .scramble-container {
  font-weight: 100;
  font-size: 1.8rem;
  color: white;
  padding-right: 1rem;
}
.MainScreen .dud {
  color: var(--focus-color);
}

@media (width >= 800px) {
  .MainScreen .scramble-container {
    font-size: 2rem;
  }
}
@media (width >= 1200px) {
  .MainScreen .scramble-container {
    font-size: 2.5rem;
  }
}
